<div>Hello <%= current_user.name %> !</div>

<div>ID: <%= current_user.id %></div>

<%= link_to 'sign in', new_user_session_path %>

<%= link_to 'sign up', new_user_registration_path %>

<%= button_to 'sign out', destroy_user_session_path, method: :delete %>

<div class="mb-sm mt-sm">
  <%= button_to 'Add post', new_post_path, method: :get %>
</div>


<p class="mb-sm mt-lg"> All posts </p>


<% @posts.each do |post| %>
  <div style="border: 1px solid black; max-width: 150px;">
    <p class=""> user: <%= post.user_id %> </p>

    <p class=""> post: <%= post.id %> </p>

    <p class=""> text: <%= post.body%> | </p>

    <% if current_user.id == post.user_id%> 
      <%= link_to 'Edit post', edit_post_path(post.id) %>
    <% end %>
      
    <p class="mb-m"></p>
  </div>
<% end %>

