<div>Hello <%= link_to current_user.name, profile_path(current_user.id) %>!

  <% if current_user.profile_image.attached? %>
    <%= image_tag(current_user.profile_image, style: "height: 50px; width: 50px;") %>
  <% end %>

</div>

<%= current_user.tag%>

<%= button_to 'sign out', destroy_user_session_path, method: :delete %>

<div class="mb-sm mt-sm">
  <%= button_to 'Add post', new_post_path, method: :get %>
</div>

<p class="mb-sm mt-lg"> All posts: </p>
<%= render partial: "posts/index" %>

