<%= user_profile_image( @user, css_class: '') %>

<%= @user.name %>

<%= @user.tag %>

<p> Followers: <%= @user.followers.size %> </p>

<p> Followings: <%= @user.followees.size %> </p>

<p> Posts: <%= @user.posts.size %> </p>

<%= user_action_link(current_user, @user, css_class: '') %>

<%= display_posts(@posts, css_class: '' ) %>

<p><%= link_to "Back", root_path %></p>