<div class = "center-fixed">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="tittle-lg center-h">
      <div class="cl-w">Tag</div>
      <div class="cl-g">IT</div>  
    </div>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'input_sign tittle-sm mt-20', placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input_sign tittle-sm mt-20', placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.text_field :tag, autofocus: true, autocomplete: "tag", class: 'input_sign tittle-sm mt-20', placeholder: 'Nickname' %>
    </div>

    <div>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input_sign tittle-sm mt-20', placeholder: 'Password' %>
    </div>

    <div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input_sign tittle-sm mt-20', placeholder: 'Repeat password' %>
    </div>

    <div>
      <%= f.submit "Sign up", class: 'button_sign mt-20 tittle-m br-10' %>
    </div>

    <p class="center-h mt-10 mb-20">
      <span class="line-125 line-l"></span><span class="mv-a text-m cl-g">or</span><span class="line-125 line-r"></span>
    </p>

  <% end %>

  <%= render "devise/shared/links" %>
</div>