<% @posts.each do |post| %>
  <div style="border: 1px solid black; max-width: 300px;">
    <p class=""> user: <%= post.user_id %> </p>

    <p class=""> post: <%= post.id %> </p>

    <p class=""> text: <%= post.body%> </p>

    <% if post.images.attached? %>
      <% post.images.each do |img|%>
        <%= image_tag img, width: "300px" %>
      <% end %>
    <% end %>

    <% if current_user.id == post.user_id%> 
      <%= link_to 'Edit post', edit_post_path(post.id) %>
    <% end %>

    <p><%= link_to "Show", post_path(post.id) %> </p>

    <%= post.likes.count %> Likes

    <% like = current_user.likes.find_by(likeable: post) %>
    <% if like.nil? %>
      <%= button_to "Like", likes_path, params: {like: {likeable_id: post.id, likeable_type: Post}}, method: :post %>
    <% else %>
      <%= button_to "Unike", like_path(like[:id]), method: :delete %>
    <% end %>
      
    <p class="mb-m"></p>
  </div>
<% end %>
