<div style="border: 1px solid black; max-width: 300px;">

  <%= post.id %>

  <%= image_tag(post.user.profile_image, style: "height: 50px; width: 50px;") %>

  <p class=""> user: <%= link_to post.user.name, profile_path(post.user) %> </p>

  <% if post.updated_at - post.created_at > 1%> 
    <div> Edited <%= time_ago_in_words(post.updated_at) %> ago </div>
  <% else %>
    <div> Posted <%= time_ago_in_words(post.created_at) %> ago </div>
  <% end %>

  <% post.images.each do |img|%>
    <%= image_tag img, width: "300px" %>
  <% end %>

  <%= render partial: "likes/post-likes", locals: { post: post } %>

  Views: <div id="post-views-<%= post.id %>"><%= post.views_count %></div>

  like RATE: <%= post.like_rate %>

  <p class=""> 
    <div> <%= post.user.name %> : <%= post.body %> </div>
  </p>

  <% if current_user.id == post.user_id%> 
    <%= link_to 'Edit post', edit_post_path(post.id) %>
  <% end %>

  <p>
    <% if post.comments_count > 0 %>
    <div><%= link_to " view all comments (#{post.comments_count})", post_path(post.id) %></div>
    <% end %>
  </p>
    
  <%= render partial: "comments/form-new", locals: { comment: @comment, post: post } %>

  <div data-controller="view" id="<%= post.id %>"></div>

</div>