<div class="tittle-sm cl-w mb-20">New post</div>

<%= form_with model: @post do |form| %>

  <div class="mb-10">
    <%= form.text_area :body, rows:1, placeholder: 'description', class: 'input_sign text-m' %>
  </div>
  
  <%= form.number_field :user_id, value: current_user.id, type: :hidden %>

  <div class="">
    <%= form.label :images, "Upload New Images", class: 'cl-lg text-m' %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions ml-15 mt-15 mb-20">
    <%= form.submit 'Create', class: 'button_def br-10 text-sm' %>
  </div>

<% end %>

<%= link_to "Back", :back, class: 'cl-w ml-15 text-m' %>