<p> New post </p>

<%= form_with model: @post do |form| %>

  <p>
    <%= form.text_area :body, rows:5, placeholder: 'Post_text' %>
  </p>
  
  <%= form.number_field :user_id, value: current_user.id, type: :hidden %>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>