<div class="flex cl-g show-post-container no-scroll">
  <div class="show-post-img-container mv-a img-c">
    <% @post.images.each do |img|%>
      <%= image_tag(img, class: "post-img") %>
    <% end %>
  </div>

  <hr style="border-color: #777;">

  <div class="show-post-sub-container">
    <div>
      <div class="flex mv-15">
        <%= image_tag(@post.user.profile_image, class: 'rounded profile-mini mr-10 cl-w ml-25') %>
        <%= link_to @post.user.name, profile_path(@post.user), class: 'mv-a text-m cl-w' %>

        <div class="ml-a"></div>

        <div class="mv-a text-sm pr-10">
          <div class="cl-g"> posted <%= time_ago_in_words(@post.created_at) %> ago. </div>
        </div>
      </div>

      <hr style="border-color: #777;">
    </div>

    <div class="mt-25 show-post-comment-container ml-25 scroll" >
      <div class=" scroll">
        <div class="flex">
          <%= image_tag(@post.user.profile_image, class: 'rounded profile-comment mr-10 cl-w') %>
          <div class="flex mv-a text-m">
            <div class="cl-w"><%= @post.user.name %></div>
            <div class="cl-lg">:&nbsp;<%= @post.body %></div>
          </div>
        </div>
        <div><%= render @post.comments.where(parent_id: nil).order(id: :desc) %></div>
      </div>
    </div>

    <hr style="border-color: #777;">

    <div class= "pl-10 ml-1 bg-b" style="position:absolute; z-index:1; border-left: 1px solid #777;">
      <div class="flex text-m cl-g mb-5 mv-15">
        <%= render partial: "likes/post-likes", locals: { post: @post } %>

        <div class="ml-a"></div>

        <div class="mv-a">
          <%= render partial: "likerates/post-likerate", locals: { post: @post } %>
        </div>

        <div class="mv-a pr-10 flex">
          <div>
            % like rate |
          </div>

          <div id="post-views-<%= @post.id %>" class="pr-5 pl-5">
            <%= @post.views_count %>
          </div>

          <div>
            views
          </div>
        </div>
      </div>

      <div>
        <%= render partial: "comments/form-new", locals: { comment: @comment, post: @post } %>
      </div>
    </div>
  </div>
</div>