<div style="border: 1px solid black; max-width: 300px;">
  <%= image_tag(@post.user.profile_image, style: "height: 50px; width: 50px;") %>

  <p class=""> user: <%= @post.user.name %> </p>

  <% if @post.updated_at - @post.created_at > 1%> 
    <div> Edited <%= time_ago_in_words(@post.updated_at) %> ago </div>
  <% else %>
    <div> Posted <%= time_ago_in_words(@post.created_at) %> ago </div>
  <% end %>

  <% @post.images.each do |img|%>
    <%= image_tag img, width: "300px" %>
  <% end %>

  <p class=""> 
    <div> <%= @post.user.name %> : <%= @post.body %> </div>
  </p>

  <% if current_user.id == @post.user_id%> 
    <%= link_to 'Edit post', edit_post_path(@post.id) %>
  <% end %>

  <%= render partial: "likes/post-likes", locals: { post: @post } %>
  <hr />

  <p class="mb-sm"> Comments: </p>

  <%= render @post.comments.where(parent_id: nil).order(id: :desc) %>

  <%= render partial: "comments/form-new", locals: { comment: @comment, post: @post } %>
    
  <p class="mb-m"></p>
</div>

<%= link_to "Back", :back %>