<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render partial: "layouts/flash" %>

    <header>
      <% unless devise_controller? && (["new", "create"].include?(action_name) || ["new", "create", "edit", "update"].include?(action_name)) %>
        <%= render partial: "layouts/header" %>
      <% end %>
    </header>
    
    <%= yield %>
  </body>
</html>
